@media (max-width: 768px ) {
   nav.nav {
    display: none;
   }
   header.header {
    height: 90vh;
    
  }
   h1.titulo-hero {
    font-size: 60px ;
    text-shadow: 2px 2px #87a352;

  }
  .btn-hero {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background-color: #683340;
    border-radius: 20px;
  }
  
  section.container {
    display: flex;
    width: 100%;
    background-color: #2a3033;
    flex-wrap: wrap;
    gap: 0px;
    color: #f9ffff;

  }
  p.info-card {
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    height: 55px;
    width: 250px;
  }
  div.conteudo-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  div.conteudo-texto img {
    min-width: 150px;
    float: none;
    margin-top: 20px;
    border-radius: 10px;
    
  }

  div.container-classe {
    background-color: #2a3033;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
  }

  div.info-classe {
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-wrap: break-word;
  }
  h1.titulo-classe {
    font-size: 25px;
    font-family: "MedievalSharp", cursive;
    
  }
  
  div.info-classe h4 {
    margin-top: 10px;
    font-size: 20px;
  }
  div.info-classe p {
    font-size: 18px;
    text-align: center;
    margin:0px 0px;
  }
  div.imagem-classe {
    min-width: 150px;

    
  }
  div.card-classe {
    background-color: #3d4346;
    border-radius: 20px;
    display: flex;
    max-width: 600px;
    min-height: 400px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    
  }

  .container-personagem {
    width: 100%;
    padding: 15px;
    
}

.titulo-personagem {
    font-family: "MedievalSharp", cursive;
    font-size: 25px;
}

.container-personagem p {
    margin: 15px 0;
    font-size: 18px;
    text-align: center;
}

.container-personagem h2 {
    font-size: 22px;
}

.cards-container {
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
  }




}